[user]
    name = Jeff Erickson
    email = jeff@erick.so
    signingkey = /Users/jeff/.ssh/id_ed25519.pub
[core]
    editor = nvim
[diff]
    tool = vimdiff
[difftool]
    prompt = 0
[pager]
    branch = false
[pull]
    ff = only
[gpg]
    format = ssh
[commit]
    gpgsign = true
