"*":
  "atom-beautify":
    general:
      beautifyEntireFileOnSave: false
    python: {}
  "autoclose-html":
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "li"
    ]
    makeNeverCloseSelfClosing: false
  "autocomplete-python":
    fuzzyMatcher: false
    useKite: false
  "bracket-matcher":
    autocompleteBrackets: false
    highlightMatchingLineNumber: true
  core:
    disabledPackages: [
      "autocomplete-paths"
      "teletype"
      "linter-js-standard"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Input Mono"
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "4362823c-a373-51e1-55c4-e377640a482a"
  "go-plus":
    panelDisplayMode: "closed"
  "jupyter-notebook":
    jupyterPath: "/Users/jerickson/anaconda/envs/magnus_bokeh11/bin/"
  linter:
    lintOnChange: false
  "linter-flake8":
    hangClosing: true
    ignoreErrorCodes: [
      "H301"
    ]
    maxLineLength: 99
    pep8ErrorsToWarnings: true
  "linter-scalac": {}
  "linter-ui-default":
    panelHeight: 202
    showPanel: true
  minimap:
    disablePythonDocLinks: true
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view": {}
  welcome:
    showOnStartup: false
