"*":
  "atom-beautify":
    general:
      _analyticsUserId: "05e37f05-de88-45d2-adce-16cc3a857b05"
    python:
      max_line_length: 120
  "autocomplete-python":
    fuzzyMatcher: false
    useKite: false
  core:
    disabledPackages: [
      "autocomplete-paths"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "4362823c-a373-51e1-55c4-e377640a482a"
  "go-plus":
    panelDisplayMode: "closed"
  "jupyter-notebook":
    jupyterPath: "/Users/jerickson/anaconda/envs/magnus_bokeh11/bin/"
  linter:
    lintOnChange: false
  "linter-flake8":
    maxLineLength: 150
    pep8ErrorsToWarnings: true
  "linter-scalac": {}
  "linter-ui-default":
    showPanel: true
  minimap:
    disablePythonDocLinks: true
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
