"*":
  "atom-beautify":
    general:
      _analyticsUserId: "05e37f05-de88-45d2-adce-16cc3a857b05"
    python:
      max_line_length: 120
  core: {}
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "4362823c-a373-51e1-55c4-e377640a482a"
  linter: {}
  "linter-flake8":
    maxLineLength: 150
    pep8ErrorsToWarnings: true
  "linter-scalac": {}
  welcome:
    showOnStartup: false
