packages: [
  "atom-beautify"
  "autoclose-html"
  "autocomplete-go"
  "autocomplete-paths"
  "autocomplete-python"
  "builder-go"
  "file-icons"
  "go-config"
  "go-debug"
  "go-get"
  "go-plus"
  "godoc"
  "gofmt"
  "gometalinter-linter"
  "gorename"
  "highlight-selected"
  "Hydrogen"
  "language-scala"
  "linter"
  "linter-flake8"
  "linter-scalac"
  "minimap"
  "minimap-highlight-selected"
  "navigator-go"
  "package-sync"
  "Remote-FTP"
  "terminal-plus"
  "tester-go"
  "vim-mode"
]
