packages: [
  "atom-beautify"
  "atom-ide-ui"
  "atom-typescript"
  "autoclose-html"
  "autocomplete-paths"
  "autocomplete-python"
  "busy-signal"
  "file-icons"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "language-groovy"
  "language-kotlin"
  "language-scala"
  "linter"
  "linter-flake8"
  "linter-js-standard"
  "linter-scalac"
  "linter-ui-default"
  "minimap"
  "minimap-highlight-selected"
  "package-sync"
  "teletype"
  "terminal-plus"
  "vim-mode-plus"
]
