packages: [
  "atom-beautify"
  "autoclose-html"
  "autocomplete-paths"
  "autocomplete-python"
  "file-icons"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "highlight-selected"
  "Hydrogen"
  "hyperclick"
  "jupyter-notebook"
  "language-scala"
  "linter"
  "linter-flake8"
  "linter-scalac"
  "minimap"
  "minimap-highlight-selected"
  "package-sync"
  "Remote-FTP"
  "terminal-plus"
  "vim-mode"
]
